{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {#    <script type="text/javascript" src="{% static 'dashboard/js/script.js' %}"></script>#}

    <!-- Icon -->
    {#    <link rel="icon" type="image/png" href="{% static 'dashboard/icon.png' %}"/>#}

    <title>ACCT</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {#        <a class="navbar-brand" href="{% url "dashboard:index" %}" style="color: gray">#}
    {#            ACCT#}
    {#        </a>#}
    {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
    {#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
    {#        <span class="navbar-toggler-icon"></span>#}
    {#    </button>#}
    {##}
    {#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
    {#        <ul class="navbar-nav mr-auto">#}
    {#            <li class="nav-item active">#}
    {#                <a class="nav-link" href="#">Statistic</a>#}
    {#            </li>#}
    {#        </ul>#}
    {#        <form class="form-inline w-50 d-flex justify-content-end" method="get" action="">#}
    {#            <select class="custom-select w-25" name="search_field" id="search_field_slct">#}
    {#                <option value="all">Advanced</option>#}
    {#                <option value="title">Title</option>#}
    {#                <option value="instructor">Instructor</option>#}
    {#                <option value="building">Building</option>#}
    {#            </select>#}
    {#            <input class="form-control mr-sm-2 w-50" type="search" placeholder="Search" aria-label="Search" name="search_word" required>#}
    {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
    {#        </form>#}
    {#    </div>#}
</nav>
<div class="w-75 mx-auto">
    {% block body %}
    {% endblock %}
</div>
<div class = "table">
    {% block t %}
    {% endblock %}
</div>

<div class = "empty">
    <p>
    <br><br><br><br>
        <br><br><br><br>
    </p>
    <p>

    </p>
</div>
<div class="footer">
    <p>
        <a class="badge badge-secondary" href="#">About</a> &nbsp;&nbsp;
        <a class="badge badge-secondary" href="https://github.com/huyingfan420/TiberSolutions"><i
                class="fa fa-github"></i></a>
    </p>
</div>
</body>
</html>
