.navbar {
    background-image: url("/static/dashboard/images/banner.jpeg");
    height: 350px;
    padding-bottom: 300px;
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #F8F9FA;
}
.w-75 table{
    width: 100%;
    left: 0;
    text-align: center;
}

.banner img{
    width: 100%;
    height: 60%;
}

.usercase {
    margin-top: 7%;
}

.usercase img {
    height: 280px;
    width: 280px;
    padding: 8%;
    border:5px dashed lightgrey;
}

form span {
    font-size: larger;
}

mx-auto
